<div class="navbar">
  <div routerLink="storage/categories"><mat-icon routerLinkActive="active">category</mat-icon><p>Categories</p></div>
  <div routerLink="storage/items"><mat-icon routerLinkActive="active">inventory</mat-icon><p>Items</p></div>
  <div routerLink="storage/sellers"><mat-icon routerLinkActive="active">person</mat-icon><p>Sellers</p></div>
    <div routerLink="storage/purchases"><mat-icon routerLinkActive="active">receipt_long</mat-icon><p>Purchases</p></div>
  <div routerLink="storage/stock"><mat-icon routerLinkActive="active">storage</mat-icon><p>In Stock</p></div>
  <div routerLink="stats"><mat-icon routerLinkActive="active">insert_chart</mat-icon><p>Stats</p></div>
</div>
